<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="grocery"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:name"> <!-- Add this line to replace the application name -->
        <!-- Other configurations -->

    </application>
</manifest>
